body{
   background-image: url("https://cdn.pixabay.com/photo/2015/09/09/20/02/watermelon-932957_960_720.jpg");
   font-family: 'Poppins', sans-serif;
   text-align: justify;
   margin-left: 50px;
   margin-right: 50px;
   background-repeat: no-repeat;/*no repite la imagen*/
   background-attachment: fixed;/*al hacer scroll, la imagen de fondo no se mueve*/
   background-position: right top;
   background-color: lightblue;
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 80px;
   float: left;
}


.intro h1,h2{
	font-family: 'Finger Paint', cursive;
	font-weight: bold;
	font-size: xx-large;
	text-align: left;
	color: #1E5902;
	
}


.summary p{
    font-family: 'Finger Paint', cursive;
    font-size: medium;
    text-align: left; 
    width: 500px;
}

h3{
	font-weight: bolder;
	color: #B12F4B;
}
.preamble{
	border: 8px solid #8F1D43 ;
    border-bottom-left-radius: 40px;

}

.explanation{
	border: 8px solid #B1FCA1 ;
    border-bottom-right-radius: 40px;
}

.participation{
	border: 8px solid #8F1D43 ;
    border-bottom-left-radius: 40px;
}

.benefits{
	border: 8px solid #B1FCA1 ;
    border-bottom-right-radius: 40px
}

.requirements{
	border: 8px solid #8F1D43 ;
    border-bottom-left-radius: 40px;
}

body a{
	color: green;
	text-decoration: none;
  font-weight: bold;
	text-shadow: 1px 1px #2D9710;
}

footer a{
	background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-flex;
}
